<section class="header">
  <h1>Demo App</h1>
</section>
<form [formGroup]="loginForm" (submit)="login()">
  <label class="mdc-text-field mdc-text-field--filled username">
    <span class="mdc-text-field__ripple"></span>
    <input formControlName="username" type="text" class="mdc-text-field__input" aria-labelledby="username-label"
      name="username" required>
    <span class="mdc-floating-label" id="username-label">Username</span>
    <span class="mdc-line-ripple"></span>
  </label>
  <label class="mdc-text-field mdc-text-field--filled password">
    <span class="mdc-text-field__ripple"></span>
    <input formControlName="password" type="password" class="mdc-text-field__input" aria-labelledby="password-label"
      name="password" required minlength="8">
    <span class="mdc-floating-label" id="password-label">Password</span>
    <span class="mdc-line-ripple"></span>
  </label>
  <div class="button-container">
    <button type="button" class="mdc-button cancel" (click)="signup()">
      <div class="mdc-button__ripple"></div>
      <span class="mdc-button__label">
        Sign up
      </span>
    </button>
    <button type="submit" class="mdc-button mdc-button--raised next">
      <div class="mdc-button__ripple"></div>
      <span class="mdc-button__label">
        Login
      </span>
    </button>
  </div>
</form>
<section class="header error-color" *ngIf="error && error.error && error.error.code">
  <h4>{{error.error.errors[0].message}}</h4>
</section>